@font-face {
  font-family: ES;
  src: url('https://pangrampangram.com/cdn/shop/files/PPEditorialSans-Variable.woff2?v=16426226129273720611') format('woff2');
}

@font-face {
  font-family: FRAGMENT;
  src: url('https://pangrampangram.com/cdn/shop/files/PPFragment-SansVariable.woff?v=839309826556575823') format('woff2');
}

@font-face {
  font-family: MONUMENT;
  src: url('https://pangrampangram.com/cdn/shop/files/PPMonumentExtended-Variable.woff?v=15700662107851491778') format('woff2');
}

* {
  cursor: default;
}

::selection {
  background: #B3CEE5;
  color: #363845;
}

h1 {
  font-family: ES, serif;
  font-weight: 300;
}

h4, h5 {
  font-family: ES, serif;
  font-weight: 200;
}

p {
  font-family: FRAGMENT, sans-serif;
  font-weight: 310;
}

body {
  font-family: MONUMENT, sans-serif;
  font-weight: 350;
}

a {
  color: #FFFFFF !important;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  background: none;
  color: #B3CEE5 !important;
  text-decoration: none;
  cursor: alias;
}

.link a {
  color: #B3CEE5 !important;
}

.link a:hover {
  background: #B5E5B3;
  color: #363845 !important;
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #999999;
}

#MainMenu {
  visibility: hidden;
}

footer {
  visibility: hidden;
}

header {
  visibility: hidden;
}